.container{
    box-shadow: 5px 4px 15px  5px grey;
    /* transition: 5s; */
}
.part-1:hover{
 transform: skew(15deg);
 box-shadow: 5px 5px 5px white;
 transition: 5s;
}
.part-2:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px #413F42 ;
    transition: 5s;
   }

   .part-3:hover{
    transform:  scale(.5) ;
    box-shadow: 5px 5px 5px white ;
    transition: 5s;
   }